<ion-header>
  <ion-toolbar>
    <ion-title>
      Pavan Aditya M S
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="details-card">
    <ion-item href="https://sellmobiles.com" target="_">
      <ion-img src="/assets/images/me.jpg"></ion-img>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>The Dev is:</ion-card-subtitle>
      <ion-card-title>Pavan Aditya</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>He's a Full Stack Developer working on MEAN stack technologies has started coding IONIC for building his native
        apps
        according to trends and requirements going on in the market.</p>
    </ion-card-content>
  </ion-card>
</ion-content>