<ion-header>
  <ion-toolbar>
    <ion-title>
      Theme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="none">
        <ion-list-header>
          <ion-label>Details of App</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-icon slot="start" color="medium" name="book"></ion-icon>
          <ion-label>Name Of App: Ionic-Trial</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="medium" name="build"></ion-icon>
          <ion-label>Built on latest version of Ionic FrameWork(5.0.0)</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="medium" name="grid"></ion-icon>
          <ion-label>Layout of this app is built as TABS(can be viewed as switchable tabs)</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
          <ion-label>Theme Applied: Dark Theme</ion-label>
        </ion-item>
      </ion-list>
</ion-content>